#fill-content {
    margin-top: 30px;
}

@media screen and (max-width: 1220px) {
    .grid-container {
        grid-template-columns: 32.5% 32.5% 32.5%;
    }
}

@media screen and (max-width: 940px) {
    .grid-container {
        grid-template-columns: 49.5% 49.5%;
    }
}

@media screen and (max-width: 620px) {
    .grid-container {
        grid-template-columns: auto;
    }
}
