body {
    font-family: 'Noto Sans SC', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
    color: #101419;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}
