/* navbar styling */

#navbar-container {
    height: 85px;
    width: 100%;
    display: inline-block;
}

#title-area {
    float: left;
    padding-left: 50px;
}

#title-area h1 {
    text-decoration: underline;
    color: #30598e;
}

#button-area {
    float: right;
    padding-top: 15px;
    padding-right: 20px;
}

#button-area h3 {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}

#button-area h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* filter area styling */

#filter {
    height: auto;
    display: none;
    margin: 5px 30px 5px 48px;
    background-color: #30598e;
    padding: 15px 30px 40px 30px;
    border-radius: 5px;
}

.selection-area {
    width: auto;
    height: auto;
}

.selection-criteria {

}

.selection-type {
    cursor: pointer;
}

/* sort area styling */

#sort {
    height: auto;
    display: none;
    margin: 5px 30px 5px 48px;
    background-color: #30598e;
    padding: 15px 30px 40px 30px;
    border-radius: 5px;
}

/* reduce to one columns */
@media screen and (max-width: 620px) {

    #navbar-container {
        text-align: center;
        height: auto;
    }
    #title-area {
        float: none;
        padding: 0;
    }

    #button-area {
        float: none;
        padding: 0;
    }

    #button-area h3 {
        float: none;
    }
}
